body{
	background: url('../img/bottom.png') no-repeat bottom center fixed #e9e9e9;
    font-size: 15px;
}
.navbar{
	margin-bottom: 15px;
}
.borde-derecha{
	border-right: 1px solid #eee;
}
.lista-habitaciones{
	height: 120px;
	overflow: auto;
}
.lista-detalles {
	height: 480px;
	overflow: auto;
}
.cuadro{
	border-radius: 10px;
	border: 1px solid #eee;
	background: white;
	padding: 5px;
}
.tabla-clientes{
	padding-top: 25px;
}
table{
	border: 1px solid #ccc;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #428bca;
  color: white;
}
.has-feedback .form-control-feedback {
  top: 0px;
  width: 60px;
}
.fila:hover{
	background-color: #f39c12;
	color: white;
	cursor: pointer;
}
.selected{
	background-color: #f39c12;
	color: white;
	cursor: pointer;
}
.item-radio{
	cursor: pointer;
}
.gestionItemVenta:hover{
	color: #c9302c;
	cursor: pointer;
}
.gestion:hover{
	color: #c9302c;
}
.verde{
    color: #35a633;
}
.rojo{
    color: #c92029;
}
.azul{
    color: #000473;
}
.estado{
    font-size: 10px;
}
.chk-habitacion-estado {
    margin-top: 15px;
}
.lista-radio{
    padding: 7px 0px 0px 7px;
}
.list-group-item>.radio{
    padding: 0px;
}

#habitacionesLista {
    height: 500px;
}

.list-habitaciones {
    max-height: 500px;
}
.no-margin-top{
	margin-top:3px;
}
#h3-cuentas {
    margin-bottom:20px;
}
.bootstrap-timepicker-widget{
    z-index: 100000 !important;
}
.datepicker{
	z-index: 2000 !important;
}
.form-signin{
    max-width: 300px;
    margin: 0 auto;
}
.input-top{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.input-bottom{
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
